{%extends  'app/base.html'  %}
{%load  static%}
 {% block title %}About{% endblock title %} 

 {% block   main %}
 
 <div class="container mt-3">
    <br>
    <h2  class="text-center">About us</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">this  is a public litmited comapny having its regesteried and corparate office at pune city maharastra state of india.this company inportated this year 2021 and production in this company 2022 this one fatest groeing pubic listed company in pune.
      </p>
    </div>
    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">to embrace the right techonolgy to delight our cunstomers emporing the farmer comunity throught our unique 'Relationship farming model
            to anticipate understand and respond to our cunsomers and cunstomers needs by cretinf high quality products and making the available through innovative and conveint chanels  </p>
    </div>
 </div>
 {% endblock main %}